extends layout.pug

block content
  div 
    h1 You got time,<br>we got tunes
    p.title How long have you got?
    form( action="/create" method="post").form
      div.time
        input(type="text", name="hours")
        span.timespan h
        input(type="text", name="minutes")
        span.timespan m
        input(type="text", name="seconds")
        span.timespan s
      input(type="submit", value="Let's do this!").login