extends layout.pug

block nav
  a(href="/logout").nav logout

block content
  div 
    h1 You got time,<br>we got tunes
    p.title How long have you got?
    form( action="/create" method="post").form
      div.time
        input(type="number", name="hours", min="0", max="5", class="no-spinners")
        span.timespan h
        input(type="number", name="minutes", min="0", max="59", class="no-spinners", required)
        span.timespan m
        input(type="number", name="seconds", min="0", max="59", class="no-spinners", required)
        span.timespan s
      input(type="submit", value="Let's do this!").login